@import 'tailwindcss';
@import 'lib/stylesheets/c-label.css' layer(components);

@plugin '@tailwindcss/typography';
@config '../tailwind.config.js';

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
    --color-base: oklch(98% 0 116.2);
    --color-base-light: oklch(100% 0 116.2);
    --color-base-dark: oklch(96% 0 116.2);
    --color-base-hover: oklch(94% 0 116.2);
    --color-base-fg: oklch(17% 0.0038 164.54);
    --color-base-fg-light: oklch(27% 0.0038 164.54);
    --color-base-fg-dark: oklch(7% 0.0038 164.54);
    --color-base-fg-muted: oklch(57% 0.0038 164.54);
    --color-base-border: oklch(90% 0 116.2);
    --color-base-border-light: oklch(94% 0 116.2);
    --color-base-border-dark: oklch(86% 0 116.2);

    --color-primary: oklch(52.36% 0.1748 255.4);

    --default-font-family: 'Inter Variable', ui-sans-serif, system-ui,
        sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
        'Noto Color Emoji';
}

@layer base {
    :root {
        @variant dark {
            --color-base: oklch(21% 0 116.2);
            --color-base-light: oklch(23% 0 116.2);
            --color-base-dark: oklch(19% 0 116.2);
            --color-base-hover: oklch(25% 0 116.2);
            --color-base-fg: oklch(100% 0 116.2);
            --color-base-fg-light: oklch(100% 0 116.2);
            --color-base-fg-dark: oklch(90% 0 116.2);
            --color-base-fg-muted: oklch(60% 0 116.2);
            --color-base-border: oklch(30% 0 116.2);
            --color-base-border-light: oklch(32% 0 116.2);
            --color-base-border-dark: oklch(28% 0 116.2);

            --color-primary: oklch(64.94% 0.1928 251.89);
        }
    }
}

@layer base {
    :root {
        overflow: hidden;
        background-color: var(--color-base);
        color: var(--color-base-fg);
        cursor: default;
        user-select: none;
        font-size: 15px;
        line-height: 1.5;
        font-weight: 400;

        font-synthesis: none;
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        -webkit-text-size-adjust: 100%;
    }

    body {
        background-color: transparent;
    }

    .tiptap p.is-editor-empty:first-child::before {
        color: var(--color-base-fg-muted);
        content: attr(data-placeholder);
        float: left;
        height: 0;
        pointer-events: none;
    }

    input,
    div[contenteditable] {
        cursor: text;
        user-select: auto;
    }
}

@utility custom-scrollbar {
    &::-webkit-scrollbar {
        width: --spacing(2.5);
        height: --spacing(2.5);
    }
    &::-webkit-scrollbar-track {
        background-color: var(--color-base);
    }
    &::-webkit-scrollbar-thumb {
        background-color: var(--color-base-border);
        border-radius: calc(infinity * 1px);
        border: --spacing(0.5) solid var(--color-base);
    }
    &::-webkit-scrollbar-thumb:hover {
        background-color: var(--color-base-border-dark);
        @variant dark {
            background-color: var(--color-base-border-light);
        }
    }
}
